ul, li{
	margin : 0;
	padding: 0;
}
.banner_images{
	display: block;
	border : 0;
	width : 1000px;
	height: 400px;
}
.slide{
	width : 1000px;
	overflow: hidden;
	margin : 0 auto;
}
.slide ul{
	width : 5000px;

	list-style: none;
	font-size : 0;
}
.slide ul li{
	display: inline-block;
}
.list
{
	width : 105px;
	top : -30px;
	margin: 0 auto;
	position:  relative;
}
