ul, li{
	margin : 0;
	padding: 0;
}
img{
	display: block;
	border : 0;
	width : 1900px;
	height: 600px;
}
.slide{
	width : 100%;
	overflow: hidden;
	margin : 0 auto;
}
.slide ul{
	width : 9500px;

	list-style: none;
	font-size : 0;
}
.slide ul li{
	display: inline-block;
}
.list
{
	width : 105px;
	top : -30px;
	margin: 0 auto;
	position:  relative;
}
