body, html{
	width:100%;
	padding:0px;
	margin:0px;
}

#search{
	display:block;
	width:100%;
	height:70px;
	background-color: #c65c80;
}

#top{
	position:relative;
	display:block;
}

#memSearch{
	display:block;
	padding:10px;
	color:#ffffff;
}

#memSearch input,button{
	margin:10px;
	font-size:150%;
	border-radius: 5px;
	border-style: none;
}

#top #topBtns{
	position:absolute;
	display:block;
	right:10px;
	top:10px;
}


a{
	color:#000000;
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
	cursor:pointer;	
}
a:active {
	text-decoration: underline;
}
a:visited {
	text-decoration: none;
}

#userView, #productList{
	border:5px solid #c0c0c0;
	border-radius: 20px;
	margin:10px;
}
#userView{
	position:relative;
	display:block;
	width:23%;
	float:left;
}
#productList{
	position:relative;
	display:block;
	width:70%;
	height:550px;
	float:left;	
}
#userView .title,#productList .title{
	position:relative;
	display:block;
	text-align:center;
	border-radius: 15px;
	font-size:120%;
	width:100%;
	height:35px;
	background-color: #808080;
	color:#ffffff;
	padding-top:15px;
}

#userView .lists{
	position:relative;
	display:block;
	width:90%;
	margin:0 auto;
	list-style:none;
	padding:0px;
}

#userView .listContents{
	position:relative;
	display:inline-block;
	width:100%;
	margin:25px auto;
	border:1px solid #808080;
	background-color:white;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	z-index:1;
}
#userView .lists > .nowListBtn{
	position:absolute;
	display:block;
	width:120px	;
	top:0px;
	left:0px;
	font-weight:bold;
	font-size:1em;
	padding: 5px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border:1px solid #808080;
	background-color:white;
	border-bottom:0px;
	text-align:center;
	z-index:2;
}
#userView .lists > .pastListBtn{
	position:absolute;
	display:block;
	width:120px;
	left:120px;
	top:0px;
	font-weight:bold;
	font-size:1em;
	padding: 5px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border:1px solid #808080;
	background-color:#c8c8c8;
	border-bottom:0px;
	text-align:center;
	z-index:0;
}

#userView .cp{
	position:relative;
	display:block;
	float:left;
	border:5px solid #999999;
	border-radius: 30px;
	width:50px;
	height:50px;
	margin:10px;
	background-image: url("../images/logo.png");
	background-size:100%;
}

#userView .cpCnt{
	position:absolute;
	display:block;
	top:5px;
	right:5px;
	width:50px;
	height:35px;
	margin:10px;
	background-image: url("../images/letter.png");
	background-size:100%;
	z-index:0;
}

#userView .cp > span,#productList .size{
	position:absolute;
	display:block;
	font-size:130%;
	background-color: #d1374b;
	color:#ffffff;
	width:25px;
	height:25px;
	right:-5px;
	bottom:-5px;
	border-radius: 15px;	
	text-align:center;
}

#userView .cpCnt > span{
	position:absolute;
	display:block;
	font-size:130%;
	background-color: #964dd1;
	color:#ffffff;
	width:25px;
	height:25px;
	right:-5px;
	bottom:-5px;
	border-radius: 15px;	
	text-align:center;
	z-index:2;
}


#userView .userName{
	position:relative;
	display:block;
	width:100%;
	height:40px;
	margin:5px;
}

#productList #pList{
    column-width:25%;
    -moz-column-width:25%; /* Firefox */ 
    -webkit-column-width:25%; /* Safari and Chrome */
	overflow-y:scroll;
	overflow-x:hidden;
	height:490px;
	
}

#productList figure, .fig{
	position:relative;
	display:inline-block;
	padding:15px;
	margin:10px;
	width:14%;
	height:150px;
	border:1px solid #b3b3b3;
	border-top-right-radius: 1.5em;
	border-bottom-left-radius: 1.5em;
}

#productList #pList > figure:first-child {
	display:block;
	float:left;
	text-align:center;
}

#productList #pList > figure:first-child > figcaption, .figCap{
	position:relative;
	display:block;
	width:100%;
	height:52%;
	border:1px solid black;
	padding-top:48%;
}


#productList figure > .img{
	position:relative;
	display:block;
	width:100%;
	height:100px;
	border:1px solid #cdcdcd;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	z-index:0;
}

.blank{
	position:absolute;
	display:block;
	width:100%;
	height: 100%;
	top:0px;
	left:0px;
	background-color: #000000;
	opacity:0.5;
	z-index:10;
	border-top-right-radius: 1.4em;
	border-bottom-left-radius: 1.4em;
	
}

.userInfo{
	position:relative;
	display:block;
	height:100px;
	padding-top:5px;
}
.userInfo span{
	font-weight: bold;
	font-size:90%;
}

.userInfo .pt, .price{
	color:#d1374b;
	margin:0 5px 0 5px;
}

#userView .userName > span{
	font-size:200%;
}

#userView .buyList{
	position:relative;
	display:block;
	list-style: none;	
	width:90%;
	margin:0 auto;
	padding:0px;
}

#userView .buyList > li{
	padding:10px 0 0px 0px;
	border-bottom:1px dashed #999999;
	text-align:center;
}

#userView .buyList > li > span{
	display:inline-block;
	padding:5px;
	text-align:center;
	width:28%;
}

#blackScreen {
	z-index: 999;
	background-color: rgba(0, 0, 0, 0.6);
	display:hidden;
	position:absolute;
}

#ajaxWindow {
	display: hidden;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
}