body, html{
	width:100%;
	height:100%;
	padding:0px;
	margin:0px;
	overflow:hidden;
}

li{
	list-style:none;
}

.loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('../images/page-loader.gif') 50% 50% no-repeat rgb(249,249,249);
}
#search{
	display:block;
	width:100%;
	height:70px;
	background-color: #c65c80;
}

#top{
	position:relative;
	display:block;
}

#memSearch{
	display:block;
	padding:10px;
	color:#ffffff;
	font-size:1.5em;
}

#memSearch input{
	margin:10px;
	font-size:1.2em;
	border-radius: 5px;
	border-style: none;
	outline : none;
	border:0px;
}

#memSearch button{
	
}

#top #topBtns{
	position:absolute;
	display:block;
	right:10px;
	top:10px;
}


a{
	color:#000000;
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
	cursor:pointer;	
}
a:active {
	text-decoration: underline;
}
a:visited {
	text-decoration: none;
}

#userView, #productList{
	border:5px solid #c0c0c0;
	border-radius: 20px;
	margin:10px;
}
#userView{
	position:relative;
	display:block;
	width:23%;
	float:left;
}
#productList{
	position:relative;
	display:block;
	width:70%;
	height:525px;
	float:left;	
}
#userView .title,#productList .title{
	position:relative;
	display:block;
	text-align:center;
	border-radius: 15px;
	font-size:120%;
	width:100%;
	height:35px;
	background-color: #808080;
	color:#ffffff;
	padding-top:15px;
}

#userView .lists{
	position:relative;
	display:block;
	width:90%;
	margin:0 auto;
	padding:0px;
}


.backRed{
	background-color: rgba(233,111,126,0.5);
}



#userView .listContents{
	position:relative;
	display:inline-block;
	width:100%;
	margin:25px auto 0px auto;
	border:1px solid #808080;
	background-color:white;
	border-bottom:0px;
	z-index:1;
}
#userView .lists > .nowListBtn{
	position:absolute;
	display:block;
	width:120px	;
	top:0px;
	left:0px;
	font-weight:bold;
	font-size:1em;
	padding: 5px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border:1px solid #808080;
	background-color:white;
	border-bottom:0px;
	text-align:center;
	z-index:2;
}
#userView .lists > .pastListBtn{
	position:absolute;
	display:block;
	width:120px;
	left:120px;
	top:0px;
	font-weight:bold;
	font-size:1em;
	padding: 5px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border:1px solid #808080;
	background-color:#c8c8c8;
	border-bottom:0px;
	text-align:center;
	z-index:0;
}
#orderSpace{
	position:absolute;
	display:fixed;
	bottom:0px;
	left:0px;
	width:100%;
	height:100px;
	background-color: #6e6e70;
	padding:0px;
	z-index:99;	
}
#userView .lists .subOrder{
	position:relative;
	display:block;
	width:96%;
	margin:-5px auto 15px auto;
	padding:2%;
	border:1px solid #808080;
	border-top:0px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	font-size:1em;
}
#orderSpace .orders{
	position:relative;
	display:block;
	width:20%;
	float:left;
}
#orderSpace .orders > li:nth-child(1){
	position:relative;
	display:block;
	width:100%;
	font-weight:bold;
	padding: 5px 0px 5px 0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	background-color:#c8c8c8;
	border-bottom:0px;
	text-align:center;
	z-index:0;
}

#orderSpace .orders > li:nth-child(2){
	position:relative;
	display:inline-block;
	width:100%;
	padding:10px 0px 10px 0px;
	border:1px solid #808080;
	background-color:white;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	text-align:center;
}

#userView .cp{
	position:relative;
	display:block;
	float:left;
	border:5px solid #999999;
	border-radius: 30px;
	width:50px;
	height:50px;
	margin:10px;
	background-image: url("../images/logo.png");
	background-size:cover;
}

#userView .cpCnt:hover{
	-webkit-transform:rotate(30deg);
    transform:rotate(30deg);
}
#userView .cpCnt{
	position:absolute;
	display:block;
	top:5px;
	right:5px;
	width:50px;
	height:35px;
	margin:10px;
	background-image: url("../images/letter.png");
	background-size:100%;
	z-index:0;    
}

#userView .cp > span,#productList .size{
	position:absolute;
	display:block;
	font-size:130%;
	background-color: #d1374b;
	color:#ffffff;
	width:25px;
	height:25px;
	right:-5px;
	bottom:-5px;
	border-radius: 15px;	
	text-align:center;
}

#userView .cpCnt > span{
	position:absolute;
	display:block;
	font-size:130%;
	background-color: #964dd1;
	color:#ffffff;
	width:25px;
	height:25px;
	left:30px;
	top:20px;
	border-radius: 15px;	
	text-align:center;
	z-index:999;
}


#userView .userName{
	position:relative;
	display:block;
	width:100%;
	height:40px;
	margin:5px;
}

#productList #pList{
    column-width:25%;
    -moz-column-width:25%; /* Firefox */ 
    -webkit-column-width:25%; /* Safari and Chrome */
	overflow-y:scroll;
	overflow-x:hidden;
	height:460px;
}

#productList figure, .fig{
	position:relative;
	display:inline-block;
	padding:15px;
	margin:10px;
	width:14%;
	height:150px;
	border:1px solid #b3b3b3;
	border-top-right-radius: 1.5em;
	border-bottom-left-radius: 1.5em;
	box-shadow: 3px 3px 10px #b7b7b7;
}

#productList figure:hover{
	border:1px solid #474747;
	background-color: #fdfafc;
}

#productList #pList > figure:first-child {
	display:block;
	float:left;
	text-align:center;
}

#productList #pList > figure:first-child > figcaption, .figCap{
	position:absolute;
	display:block;
	width:80%;
	height:80%;
	border:2px dashed #808080;
	border-radius:20px;
	text-align:center;
	vertical-align: middle;
	font-size:1em;
	color:#080808;
}

#productList #pList > figure:first-child > figcaption > span{
	position:absolute;
	display:block;
	top:45%;
	left:25%;
}

#productList figure > .img{
	position:relative;
	display:block;
	width:100%;
	height:100px;
	border:1px solid #cdcdcd;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	z-index:0;
}

.blank{
	position:absolute;
	display:block;
	width:100%;
	height: 100%;
	top:0px;
	left:0px;
	background-color: #000000;
	opacity:0.5;
	z-index:10;
	border-top-right-radius: 0.7em;
	border-bottom-left-radius: 0.7em;
	color:#ffffff;
	font-size:2em;
	padding:5px 5px 0px -5px;
}

.plusBtn{
	position:absolute;
	display:block;
	width:30%;
	height:30%;
	top:10%;
	right:5%;
	color: #ffffff;
	font-size:3em;
	z-index:11;
	border-radius:5em;
	background-color: #ca0000;
	text-align:center;
}
.plusBtn:hover, .minorBtn:hover{
	background-color: #6df2da;
	cursor:pointer;
}

.minorBtn{
	position:absolute;
	display:block;
	width:30%;
	height:30%;
	bottom:10%;
	right:5%;
	color: #ffffff;
	font-size:3em;
	z-index:11;
	border-radius:5em;
	background-color: #ca0000;
	text-align:center;
}

.userInfo{
	position:relative;
	display:block;
	height:100px;
	padding-top:5px;
}
.userInfo span{
	font-weight: bold;
	font-size:90%;
}

.userInfo .pt, .price{
	color:#d1374b;
	margin:0 5px 0 5px;
}

#userView .userName > span{
	font-size:200%;
}

#userView .buyList{
	position:relative;
	display:block;	
	width:100%;
	height:200px;
	overflow-y:scroll;
	margin:0 auto;
	padding:0px;
}

#userView .PBList{
	position:relative;
	display:none;
	list-style: none;	
	width:100%;
	margin:0 auto;
	padding:0px;
}

#userView .buyList > li, #userView .PBList > li{
	padding:10px 0 0px 0px;
	border-bottom:1px dashed #999999;
	text-align:center;
}

#userView .buyList > li > span:nth-child(1){
	display:inline-block;
	padding:5px;
	text-align:left;
	width:30%;
}
#userView .buyList > li > span:nth-child(2){
	display:inline-block;
	padding:5px;
	text-align:left;
	width:10%;
}

#userView .buyList > li > span:nth-child(3){
	display:inline-block;
	padding:5px;
	text-align:center;
	width:20%;
}
#userView .buyList > li > span:nth-child(4){
	display:inline-block;
	padding:5px;
	text-align:center;
	color: #d1374b;
	font-weight:bold;
}


#userView .subOrder span:nth-child(1){
	display:inline-block;
	padding:5px;
	text-align:left;
	width:20%;
	text-align:center;	
}

#userView .subOrder span:nth-child(2){
	display:inline-block;
	padding:5px;
	text-align:left;
	width:20%;
}
#userView .subOrder span:nth-child(3){
	display:inline-block;
	padding:5px;
	text-align:center;
	width:30%;
	color: #d17151;
	font-weight:bold;
}
#userView .subOrder span:nth-child(4){
	display:inline-block;
	padding:5px;
	text-align:center;
	width:10%;
	color: #000000;
}
#userView .pointDisc{
	width:90%;
	margin:0 auto;
	border:1px solid #000000;
	padding:0px;
}

#userView .pointDisc input{
	position:relative;
	display:block;
}
#userView .pointDisc span:nth-child(1){
	position:relative;
	display:inline-block;
	width:20%;
	border:1px solid #000000;
}
#userView .pointDisc > .ptInps{
	position:relative;
	display:inline-block;
	width:200px;
	padding:0px;
	border:1px solid #000000;
}

#userView .pointDisc > .ptBtns{
	position:relative;
	display:block;
	width:100%;
	border:1px solid #000000;
}


#userView .pointDisc input{
	font-size:1em;
	width:80px;
	margin:0px;
}

#orderSpace .priceAll{
	position:relative;
	display:inline-block;
	font-size:1.2em;	
	width:23%;
	height:80px;
	background-color: #f7ecf3;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
	border:5px solid #545454;
	border-top:0px;
	text-align:center;	
	margin:0 10px;
	float:left;
}
 #orderSpace .priceAll > span:nth-child(1){
 	position:absolute;
	display:block;
 	width:30%;
 	top:20px;
 	left:10px;
 }
 #orderSpace .priceAll > span:nth-child(2){
 	position:absolute;
	display:block;
	text-align: right;
	width:40%;
	height:60px;
	top:10px;
	right:50px;
	font-size:2em;
	letter-spacing: -2px;
	font-weight:bold;
	color:#d1374b
	
 }
#orderSpace .priceAll > span:nth-child(3){
 	position:absolute;
	display:block;
 	width:30%;
 	top:20px;
 	right:-30px;
 }

#orderSpace #pointBtn{
	position:relative;
	display:inline-block;
	float:left;
	padding:10px;
	text-align:center;
	width:80px;
	height:20px;
	border-radius:10px;
	background-color: #d1374b;
	color:#ffeded;
	font-weight:bold;
	margin:10px;
	border:2px solid #ffffff;
}

#orderSpace #CooBtn{
	position:relative;
	display:inline-block;
	padding:10px;
	float:left;
	text-align:center;
	width:80px;
	height:20px;
	border-radius:10px;
	background-color: #814cd1;
	color:#e8e6ff;
	font-weight:bold;
	margin:10px;
	border:2px solid #ffffff;
}

 #orderSpace #orderBtn{
 	position:relative;
	display:inline-block;
	padding:10px;
 	outline:0px;
 	width:80px;
	height:80px;
 	font-size:1em;
 	margin:10px;
 	border-radius:10px;
 	background-color: #c12814;
 	border:2px solid #ffffff;
 	color:#ffffff;
 }

#userView .PBList > li > #PBname{
   display:inline-block;
   padding:5px;
   text-align:center;
   width:45%;
   font-size:0.5em;
}

#userView .PBList > li > #PBprice{
   display:inline-block;
   padding:5px;
   text-align:center;
   width:20%;
   font-size:0.7em;
}

#userView .PBList > li > #regdate{
   display:inline-block;
   padding:5px;
   text-align:center;
   width:15%;
   font-size:0.8em;
}

#blackScreen {
	z-index: 999;
	background-color: rgba(0, 0, 0, 0.6);
	display:hidden;
	position:absolute;
}

#ajaxWindow {
	display: hidden;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
}