.couponbackform
{
	width : 400px;
	height: 300px;
	border : 1px solid;
	display: block;
	padding: 0;
	margin: 0;
}
.stampform
{
	width : 380px;
	height: 280px;
	margin: auto;
	margin-top: 10px;
	
}

.couponbackform .stamp
{
	width :	90px;
	height: 90px;
	border : 1px solid;
	display: block;
	float: left;
	border-radius: 50px;
}
.back
{
	display: none;
}
