@charset "UTF-8";
@import url(//fonts.googleapis.com/earlyaccess/jejugothic.css);

body
{
   margin : 0px;
   position: relative;
	min-width: 1300px;
}
.top
{
   width: 100%;
   height: 75px;
   background: white;
}
.search
{
   width : 100%;
}
.banners
{
   width : 100%;
   height : 400px;
   background: white;
}
.coupon
{
   width : 100%;
   margin : 1px auto;
   background : white;
}
footer
{
   width : 100%;
   height : 200px;
     background: white;
   margin-top: 1.1em;
}
span
{
   text-align: center;
   font-size: 30px;   
}
#blackScreen {
	z-index: 999;
	background-color: rgba(0, 0, 0, 0.6);
	display:hidden;
	position:absolute;
}

#ajaxWindow {
	display: hidden;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
}