@charset "UTF-8";

body {
	width: 100%;
	height: 70px;
	margin: 0px;
	padding: 0px;
}

#container {
		width: 100%;
		height: 70px;
		background-color: #c65c80;
		font-family: 'Jeju Gothic', sans-serif;
}

#searchbar {
	
}

#searchbar_text {
	display: inline-block;;
	color: white;
	font-size: 20px;
	height: 70px;
	line-height: 70px;
}
#searchbar_bar {
	display: inline-block;
	width: 380px;
	margin-left: 10px;
}
#searchbar_innerContainer {
	display: inline-block;
	width: 305px;
	position: relative;
}
#resWindow {
	width: 305px;
	display: none;
	position:absolute;
 	top:75%;
 	padding-top: 5px;
 	background: white;
}
.stampResult {
	margin-bottom:5px;
}
.stampResult:hover {
	cursor: pointer;
	background-color: #ced1d1;
	transition: background-color 500ms;
}
#searchBy {
	width: 300px;
	font-size: 15px;
	font-family: 'Jeju Gothic', sans-serif;
}

#doSearch {
	font-size: 15px;
	border-radius: 3px;
	font-family: 'Jeju Gothic', sans-serif;
	margin-left: 8px;
}

#search_couponfont {
	width: 200px;
	display: inline-block;
	float: right;
}
#search_close {
	display: inline;
}
#search_close:hover {
	cursor: pointer;
}