@charset "UTF-8";

#topbar {
	width: 100%;
	height: 75px;
	margin: 0px;
	padding: 0px;
	position: relative;
}

#top_logo {
	display: inline-block;
	width: 220px;
	height: 75px;
	background-image: url("../images/logo.png");
	background-size: cover;
	z-index:0;
}
#top_logo:hover {
	cursor: pointer;
}

#top_container {
	height: 75px;
	display: inline-block;
	position: absolute;
	right: 200px;
}

#Utop_container {
	height: 75px;
	display: inline-block;
	position: absolute;
	right: 130px;
}

#top_container a, #Utop_container a{
	margin-left: 40px;
	display: inline;
	vertical-align: -50px;
	text-decoration: none;
}

#top_container:first-child, #Utop_container:first-child {
	margin-left: 150px;
}

