@charset "UTF-8";

body {
	width: 100%;
	height: 75px;
	margin: 0px;
	padding: 0px;
}

#left_blank {
	display: inline-block;
	float:left;
	width: 40%;
	height: 75px;

}

#top_logo {
	display: inline-block;
	float: left;
	width: 220px;
	height: 75px;
	background-image: url("../images/logo.png");
	background-size: cover;
}

#top_login {
	height: 75px;
	line-height: 75px;
	display: inline-block;
	float: left;
}

#top_login >a {
	margin-left: 40px;
	display: inline;
	vertical-align: -30px;
}

#top_login > :first-child {
	margin-left: 150px;
}