@charset "UTF-8";
@import url(//fonts.googleapis.com/earlyaccess/jejugothic.css);
body {
	font-family: 'Jeju Gothic', sans-serif;
	width: 550px;
	height: 350px;
}

#container {
	width: 550px;
	height: 350px;
	border: 1px solid black;
	border-radius: 10px;
	position:relative;
}

#upper {
	border-bottom: 1px solid gray;
	background: #3961a0;
	border-radius: 10px 10px 0px 0px;
	height: 70px;
}

#upper >span {
	line-height: 70px;
	font-size: 20pt;
	color: white;	
}

#lower {
	position: absolute;
	top: 150px;
	left: 140px;
}

table {
	margin-bottom: 10px;
}

td>span {
	font-size: 15pt;
}

#MId {
	font-size: 12pt;
	width: 200px;
}
#MPw {
	font-size: 12pt;
	width: 200px;
}

input[type="submit"], input[type="reset"] {
	border-radius: 2px;
	font-size: 12pt;
	background: white;
	border: 1px solid gray;
}

input[type="reset"] {
	margin-left: 15px;
}

form {
	margin-bottom: 10px;
}